## Hands-On Data Preprocessing in Python
Learn how to effectively prepare data for successful data analytics
    
    AUTHOR: Dr. Roy Jafari 

### Chapter 8: Clustering Analysis
#### Excercises

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Excercise 1
In your own words, answer the following two questions. Use at most 200 words, to answer each question.

    a.	What is the difference between Classification and Prediction?
    b.	What is the difference between Classification and Clustering?

# Excercise 2
Consider Figure 8.6 regarding the necessity of normalization before performing Clustering analysis. With this new appreciation you developed in this chapter, would you like to change your answer to the first exercise question from the previous chapter?

# Excercise 3
In this chapter, we used WH Report_preprocessed.csv to form meaningful clusters of countries only using 2019 data. In this exercise, we want to use the data of all the years 2010-2019. Perform the following steps to do this.

    a.	Use a .pivot() function to restructure the data so each combination of year and happiness index has a column. In other words, the data of the year is recorded in the long format and we would like to change that into the wide format. We will not need the columns population and Continent.

In [3]:
report_df = pd.read_csv('WH Report_preprocessed.csv')
report_df.head()

,Name,Continent,year,population,Life_Ladder,Log_GDP_per_capita,Social_support,Healthy_life_expectancy_at_birth,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,Positive_affect,Negative_affect
0,Afghanistan,Asia,2010,29185507.0,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
1,Afghanistan,Asia,2011,30117413.0,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
2,Afghanistan,Asia,2012,31161376.0,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
3,Afghanistan,Asia,2013,32269589.0,3.572,7.725,0.484,52.56,0.578,0.061,0.823,0.621,0.273
4,Afghanistan,Asia,2014,33370794.0,3.131,7.718,0.526,52.88,0.509,0.104,0.871,0.532,0.375

In [20]:
pvt_df = report_df.drop(columns = ['Continent', 'population']).pivot(index = 'Name', columns = 'year')
pvt_df

            Life_Ladder                                                   \
year               2010   2011   2012   2013   2014   2015   2016   2017
Name
Afghanistan       4.758  3.832  3.783  3.572  3.131  3.983  4.220  2.662
Albania           5.269  5.867  5.510  4.551  4.814  4.607  4.511  4.640
Algeria           5.464  5.317  5.605  5.980  6.355  5.848  5.341  5.249
Argentina         6.441  6.776  6.468  6.582  6.671  6.697  6.427  6.039
Armenia           4.368  4.260  4.320  4.277  4.453  4.348  4.325  4.288
...                 ...    ...    ...    ...    ...    ...    ...    ...
Uruguay           6.062  6.554  6.450  6.444  6.561  6.628  6.171  6.336
Uzbekistan        5.095  5.739  6.019  5.940  6.049  5.972  5.893  6.421
Vietnam           5.296  5.767  5.535  5.023  5.085  5.076  5.062  5.175
Zambia            4.999  4.999  5.013  5.244  4.346  4.843  4.348  3.933
Zimbabwe          4.682  4.846  4.955  4.690  4.184  3.703  3.735  3.638

                           ... Negative_affect                               \
year          2018   2019  ...            2010   2011   2012    2013   2014
Name                       ...
Afghanistan  2.694  2.375  ...           0.275  0.267  0.268  0.2730  0.375
Albania      5.004  4.995  ...           0.300  0.257  0.271  0.3380  0.335
Algeria      5.043  4.745  ...           0.255  0.255  0.230  0.2035  0.177
Argentina    5.793  6.086  ...           0.211  0.232  0.272  0.2540  0.238
Armenia      5.062  5.488  ...           0.426  0.459  0.464  0.4500  0.404
...            ...    ...  ...             ...    ...    ...     ...    ...
Uruguay      6.372  6.600  ...           0.231  0.252  0.214  0.2530  0.251
Uzbekistan   6.205  6.154  ...           0.152  0.123  0.118  0.1300  0.106
Vietnam      5.296  5.467  ...           0.216  0.193  0.221  0.1650  0.241
Zambia       4.041  3.307  ...           0.204  0.204  0.250  0.3080  0.327
Zimbabwe     3.616  2.694  ...           0.122  0.211  0.177  0.1820  0.239


year          2015   2016   2017   2018   2019
Name
Afghanistan  0.339  0.348  0.371  0.405  0.502
Albania      0.350  0.322  0.334  0.319  0.274
Algeria      0.277  0.377  0.289  0.293  0.215
Argentina    0.305  0.312  0.292  0.321  0.319
Armenia      0.438  0.437  0.437  0.455  0.430
...            ...    ...    ...    ...    ...
Uruguay      0.300  0.283  0.280  0.275  0.222
Uzbekistan   0.103  0.147  0.203  0.209  0.220
Vietnam      0.232  0.223  0.207  0.191  0.186
Zambia       0.382  0.372  0.387  0.351  0.394
Zimbabwe     0.179  0.209  0.224  0.212  0.235

[122 rows x 90 columns]

    b.	 Normalize pvt_df and assign into Xs.

In [21]:
cols_to_normalize = ['Life_Ladder','Log_GDP_per_capita','Healthy_life_expectancy_at_birth', 'Generosity']
for col in cols_to_normalize:
    for yr in pvt_df[col].columns:
        pvt_df[f'{col}_norm',yr] = (pvt_df[col,yr] - pvt_df[col,yr].min() / (pvt_df[col,yr].max() - pvt_df[col,yr].min()))

pvt_df.drop(columns = cols_to_normalize, inplace = True)
pvt_df.head()

            Social_support                                                     \
year                  2010   2011   2012    2013   2014    2015   2016   2017
Name
Afghanistan          0.539  0.521  0.521  0.4840  0.526  0.5290  0.559  0.491
Albania              0.733  0.759  0.785  0.7590  0.626  0.6390  0.638  0.638
Algeria              0.810  0.810  0.839  0.8285  0.818  0.7835  0.749  0.807
Argentina            0.927  0.889  0.902  0.9100  0.918  0.9260  0.883  0.907
Armenia              0.660  0.705  0.676  0.7230  0.739  0.7230  0.709  0.698

                           ... Generosity_norm                                \
year          2018   2019  ...            2010      2011      2012      2013
Name                       ...
Afghanistan  0.508  0.420  ...         0.44062  0.490824  0.557053  0.344039
Albania      0.684  0.686  ...         0.14762  0.123824  0.152053  0.156039
Algeria      0.799  0.803  ...         0.11462  0.147824  0.149053  0.112039
Argentina    0.900  0.896  ...         0.19362  0.154824  0.173053  0.153039
Armenia      0.814  0.782  ...         0.14362  0.103824  0.106053  0.088039


year             2014      2015      2016      2017      2018      2019
Name
Afghanistan  0.396089  0.363333  0.323481  0.187511  0.301514  0.234321
Albania      0.267089  0.202333  0.264481  0.279511  0.404514  0.243321
Algeria      0.122089  0.114333  0.113481  0.141511  0.249514  0.347321
Argentina    0.128089  0.109333  0.089481  0.122511  0.184514  0.131321
Armenia      0.074089  0.080333  0.111481  0.161511  0.232514  0.170321

[5 rows x 90 columns]

    c.	Use K-means and Xs to find 3 clusters among the data objects. Report the members of each cluster.

In [26]:
from sklearn.cluster import KMeans

Xs = pvt_df
kmeans = KMeans(n_clusters=3,n_init=8)
KMeans.fit(Xs)

for i in range(kmeans.n_clusters):
    BM = kmeans.labels == 1
    print(f'Cluster {i}: {pvt_df[BM].index.values}')

TypeError: fit() missing 1 required positional argument: 'X'

    d.	Use a heatmap to perform centroid analysis. As the number of columns is many for this clustering, you may have to resize the heatmap bigger so you can use it for analysis. Make sure you’ve given a name to each cluster.

# Excercise 4
For this exercise we will be using the dataset Mall_Customers.xlsx to form 4 meaningful clusters of customers. The following steps will help you to do this correctly.

    a.	Read the data into the pandas DataFrame customer_df.

    b.	Set CustomerID as the index of customer_df and binary code the column Gender.

    c.	Clean the columns names by using respectively Gender, Age, Annual_income, Spending_score.

    d.	Normalize customer_df and load it to the variable Xs.

    e.	Use K-means and Xs to find 4 clusters among the data objects. Report the members of each cluster.

f.	Use a heatmap to perform centroid analysis. Make sure you’ve given a name to each cluster.

    g.	Why did we binary code the attribute Gender in b?